.buybeer {
  &__desc {
    margin: 0 auto;
    max-width: 500px;
    & > * + * {
      margin-top: var(--space-gutter);
    }
  }

  text-align: center;

  &__form {
    text-align: left;
    max-width: 100%;
    width: 600px;
    margin-top: var(--space-section);
  }
}
