.partner {
  display: grid;
  grid-gap: var(--space-gutter) var(--space-gutter);
  grid-template-columns: 1fr 1fr;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  &__element {
    text-align: center;

    & > * + * {
      margin-top: 2rem;
    }
  }
}
