.profile-data {
  &__partner-section {
    margin-top: calc(var(--space-section) * 2);
    h1,
    h2 {
      text-align: center;
    }
  }

  &__buybeerbutton {
    .button {
      margin: calc(var(--space-section) * 2) auto 0 auto;
    }
  }

  &__partner-desc {
    margin: calc(var(--space-section) * 2) auto;
    max-width: 500px;
    text-align: center;

    p {
      margin-top: 1rem;
    }
  }

  &__dla {
    .button {
      margin: 0 auto;
    }
  }
}
