:root {
  --spacing: 1rem;
  --spacing-small: 0.5rem;
  --spacing-big: 2rem;
  --transition-speed: 200ms;
}

@import 'tools/keyframes.spinner';
@import 'tools/mixins.responsive';
@import '_reset';
@import '_color';
@import '_section';
@import '_typography';
@import '_grid';
@import '_document';
@include mobile {
  grid-template-columns: 1fr;
}
