.icon {
  display: inline-block;
  line-height: 100%;

  svg {
    vertical-align: middle;
    height: 1em;
    width: 1em;
    fill: currentColor;
    text-align: center;
  }

  &--size-lg {
    line-height: (3em / 4);
    vertical-align: -15%;
  }

  &--border {
    border: 1px solid currentColor;
    height: 1em;
    line-height: 1em;
    width: 1em;
    text-align: center;

    svg {
      height: 0.6em;
      vertical-align: inherit;
    }
  }

  &--round {
    border-radius: 50%;
  }

  &--animation-spin {
    animation: spinner 2s infinite linear;
  }

  &--rotate-90 {
    transform: rotate(90deg);
  }

  &--rotate-180 {
    transform: rotate(180deg);
  }

  &--rotate-270 {
    transform: rotate(270deg);
  }
}
