.page {
  overflow: hidden;
  min-height: 90vh;

  &__content,
  &__main {
    max-width: 900px;
    width: calc(100% - var(--space-gutter) * 2);
    margin: calc(var(--space-section) * 2) auto 0 auto;

    & > * + * {
      margin-top: var(--space-section);
    }
  }

  &__header {
    background-color: var(--c-yellow);
    text-align: right;
    position: relative;

    &::after {
      background-color: var(--c-yellow);
      content: '';
      display: block;
      width: 200vw;
      height: 200%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(2vw) rotate(1deg);
      z-index: -1;
    }

    img {
      max-width: 100px;
      display: inline-block;
    }
  }

  &__header-logo {
    margin: var(--space-gutter) 0;
    width: 100%;
    max-width: 900px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-bkg-dark);
    text-align: right;
    position: relative;
    z-index: 100;

    &::after {
      background-color: var(--c-bkg-dark);
      content: '';
      display: block;
      width: 200vw;
      height: 200%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(1vw) rotate(-1.5deg);
      z-index: -1;
    }

    &::before {
      content: '';
      background-color: var(--c-bkg-dark);
      opacity: 0.5;
      display: block;
      width: 200vw;
      height: 200%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(2vw) rotate(-1.5deg);
      z-index: -1;
    }

    & > * + * {
      margin-left: var(--space-groups);
    }
  }

  &__navigation-element {
    color: var(--c-p);
    text-decoration: none;
    padding: 1em 0;
    text-transform: uppercase;
  }

  .footer-sponsor {
    &__label {
      margin-top: 0;
      color: var(--c-gray);
    }
    &__logo {
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }
  }
}

.page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
