.page {
  max-width: 900px;
  width: calc(100% - var(--space-gutter) * 2);
  margin: calc(var(--space-gutter) * 2) auto;

  & > * + * {
    margin-top: var(--space-section);
  }

  &__header {
    img {
      max-width: 200px;
      margin: 0 auto;
    }
  }

  &__navigation {
    border-top: 1px solid var(--c-p-white);
    border-bottom: 1px solid var(--c-p-white);
    display: flex;
    justify-content: center;
    align-items: center;

    & > * + * {
      margin-left: var(--space-gutter);
    }
  }

  &__navigation-element {
    color: var(--c-p);
    text-decoration: none;
    padding: 1em 0;
  }
}

.page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  &__loader {
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 5vmin;
      height: 5vmin;
      margin-left: -2.5vmin;
      margin-top: -2.5vmin;
      display: block;
      border: 0.4vmin solid var(--c-p);
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: spinner 700ms infinite linear;
    }
  }
}
