.message {
	// background-color: var(--c-p-white);
	position: relative;
	// color: var(--c-black);
	padding: var(--space-inside) var(--space-inside) var(--space-inside) var(--space-gutter);

	&__title {
		font-size: var(--fs-h4);
		text-transform: none;
	}

	&__content {
		p {
			// color: var(--c-black);
		}
	}

	&__footer {
		font-size: var(--fs-small);
	}

	&__sender {
		font-weight: 700;
	}

	&__sector {
		color: var(--c-gray);
		margin-left: var(--space-inside);
	}

	// &:before {
	// 	content: '';
	// 	background-color: var(--c-bkg);
	// 	width: .2rem;
	// 	height: .2rem;
	// 	position: absolute;
	// 	top: calc(var(--space-inside) + (var(--fs-h6) / 2));
	// 	left: 0;
	// }

	&__time {
		position: absolute;
		left: calc(-1 * var(--chat-indent));
		top: var(--space-inside);
		font-size: var(--fs-small);
		font-weight: 700;
		color: var(--c-gray);

		&:after {
			content: '';
			background-color: var(--c-bkg);
			width: .2rem;
			height: .2rem;
			position: absolute;
			left: 0;
			top: calc(var(--space-inside) + (var(--fs-h6) / 4));
			transform: translateX(var(--chat-indent));
		}
	}
}
